<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>askTechForum</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>Controle Acesso</filter-name>
    <filter-class>filtro.ControleAcesso</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Controle Acesso</filter-name>
    <url-pattern>/usuarioAutenticado/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ServletCadastroUsuario</display-name>
    <servlet-name>ServletCadastroUsuario</servlet-name>
    <servlet-class>asktechforum.controller.ServletCadastroUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCadastroUsuario</servlet-name>
    <url-pattern>/ServletCadastroUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletPesquisaUsuario</display-name>
    <servlet-name>ServletPesquisaUsuario</servlet-name>
    <servlet-class>asktechforum.controller.ServletPesquisaUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletPesquisaUsuario</servlet-name>
    <url-pattern>/ServletPesquisaUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletAlteracaoUsuario</display-name>
    <servlet-name>ServletAlteracaoUsuario</servlet-name>
    <servlet-class>asktechforum.controller.ServletAlteracaoUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAlteracaoUsuario</servlet-name>
    <url-pattern>/ServletAlteracaoUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletPerfilUsuario</display-name>
    <servlet-name>ServletPerfilUsuario</servlet-name>
    <servlet-class>asktechforum.controller.ServletPerfilUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletPerfilUsuario</servlet-name>
    <url-pattern>/ServletPerfilUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletExclusaoUsuario</display-name>
    <servlet-name>ServletExclusaoUsuario</servlet-name>
    <servlet-class>asktechforum.controller.ServletExclusaoUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletExclusaoUsuario</servlet-name>
    <url-pattern>/ServletExclusaoUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletAutenticacaoUsuario</servlet-name>
    <servlet-class>asktechforum.controller.ServletAutenticacaoUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAutenticacaoUsuario</servlet-name>
    <url-pattern>/ServletAutenticacaoUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletCadastroPergunta</display-name>
    <servlet-name>ServletCadastroPergunta</servlet-name>
    <servlet-class>asktechforum.controller.ServletCadastroPergunta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCadastroPergunta</servlet-name>
    <url-pattern>/ServletCadastroPergunta</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletCadastroResposta</display-name>
    <servlet-name>ServletCadastroResposta</servlet-name>
    <servlet-class>asktechforum.controller.ServletCadastroResposta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCadastroResposta</servlet-name>
    <url-pattern>/ServletCadastroResposta</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletConsultarPerguntaPorTag</display-name>
    <servlet-name>ServletConsultarPerguntaPorTag</servlet-name>
    <servlet-class>asktechforum.controller.ServletConsultarPerguntaPorTag</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConsultarPerguntaPorTag</servlet-name>
    <url-pattern>/ServletConsultarPerguntaPorTag</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ServletConsultarRespostaPergunta</display-name>
    <servlet-name>ServletConsultarRespostaPergunta</servlet-name>
    <servlet-class>asktechforum.controller.ServletConsultarRespostaPergunta</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>ServletConsultarRespostaPergunta</servlet-name>
    <url-pattern>/ServletConsultarRespostaPergunta</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ServletRecuperarSenha</display-name>
    <servlet-name>ServletRecuperarSenha</servlet-name>
    <servlet-class>asktechforum.controller.ServletRecuperarSenha</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>ServletRecuperarSenha</servlet-name>
    <url-pattern>/ServletRecuperarSenha</url-pattern>
  </servlet-mapping>
</web-app>